<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CS493_A7</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1 style="text-align: center;">Welcome to my 493 Project Home Page!</h1>
    <h3 style="text-align: center;">Click below to login</h3>
    <form action="{{ url_for('user') }}" method="POST" style="margin: 0 auto; width: 250px;"><input type="submit" value="Login"></form>
  </body>
</html>
