<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CS493_A7 - User</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1 style="text-align: center;">Welcome to 493 Project User Page!</h1>
    <div>
      <table style="margin: 0 auto; table-layout: fixed" width="100%" border="2" cellpadding="2">
      <tbody>
        <tr>
          <td width="10%">JWT</td>
          <td style="word-wrap:break-word" width="90%">{{ jwt }}</td>
        </tr>
      <tr>
        <td width="10%">User ID</td>
        <td style="word-wrap:break-word" width="90%">{{ id }}</td>
      </tr>
      </tbody>
      </table>
    </div>

  </body>
</html>